h1, h2{
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

p{
    font-family: 'Carme', sans-serif; 
}

/* Start Navbar */

.mask{
    margin: 0px;
}

.navbar{
    font-family: 'Carme', sans-serif;
    font-size: 1.5rem;
    z-index: 2;
}


.navbar-brand{
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    font-weight: bold;
}

.navbar-nav{
    margin-right: 3rem;
}

.nav-link{
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

/* End Navbar */

/* Start Welcome */

.welcome{
    background-color: #1A374D;
    margin-top: -6rem;
    height: 49rem;
}

.welcome-text-container{
    z-index: 2;
    color: white;
}

.welcome-text{
    font-size: 2rem;
    z-index: 2;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-name{
    font-size: 3.5rem;
    z-index: 2;
    top: 55%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
}

.color-hint{
    color: #88E0EF;
}

.welcome-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* End Welcome */

/* Start Info */

.info{
    letter-spacing: .1rem;
    width: 90%;
}

.mentions{
    text-decoration: none;
    font-weight: bold;
    color: #88E0EF;
}

.news{
    text-indent: 10%;
}

.personal-img-col{
    height: 24rem;
}

.personal-img{
    height: inherit;
    object-fit: cover;
}

.contact-info{
    list-style: none;
    
}

.contact-info-li{
    margin-bottom: 1.2rem;
}

.contact-info-link{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    letter-spacing: .1rem;
}

.contact-info-link:hover{
    color:#2acce9;
}

/* End Info */

/* Start Footer */

footer{
    background-color: #1A374D;
}

/* End Footer */

/* Start Research Page */

.publish-year{
    font-size: 1.8rem;
    font-weight: bolder;    
}

.published{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.published-paper{
    text-decoration: none;
    color:#88E0EF;
    font-weight: bold;
}

.published-paper:hover{
    color: #2acce9;
}

/* End Research Page */

@media only screen and (max-width: 992px){
    .mask{
        background-color: #1A374D;
    }

    .top-container{
        margin-bottom: 1rem;
    }

    .navbar-toggler{
        font-size: 1.5rem;
        margin-right: 1rem;
    }
    
    .navbar{
        background-color: transparent;
    }

    .nav-item{
        margin-left: 1.5rem;
    }

    .welcome{
        margin-top: 0;
        height: 28rem;
    }

    .welcome-text{
        font-size: 1.5rem;
        top: 40%;
    }
    
    .welcome-name{
        font-size: 3rem;
        top: 50%;
    }

    .secondary-page-color{
        color: white !important;
    }
}

@media only screen and (max-width: 767px){
    
    .nav-item{
        font-size: 1.2rem;
    }

    .personal-img-col{
        height: 21rem;
    }

    .contact-info-li{
        margin-bottom: .8rem;
    }

    .contact-info-link{
        font-size: 1.9rem;
    }
}

@media only screen and (max-width: 695px){
    .personal-img-col{
        height: 18rem;
    }

    .contact-info-li{
        margin-bottom: .6rem;
    }

    .contact-info-link{
        font-size: 1.7rem;
    }
}


@media only screen and (max-width: 576px) {
    
    .navbar-toggler{
        font-size: 1rem;
    }

    .navbar-brand{
        font-size: 1.25rem;
    }

    .welcome{
        height: 20rem;
    }

    .welcome-text{
        font-size: 1.2rem;
        top: 35%;
    }
    
    .welcome-name{
        font-size: 2.3rem;
        top: 45%;
    }

    .fs-4{
        font-size: calc(1rem + .3vw)!important;
    }

    .contact-info-link{
        font-size: 1.5rem;
    }
}